{{ partial "header.html" . }}

{{ if not .IsHome }}
  {{ partial "category-header.html" . }}
{{ end }}

{{ $paginator := .Paginate (where .Pages ".Params.type" "!=" "page") (index .Site.Params "paginate" | default 10) }}

{{ if gt $paginator.TotalPages 0 }}
  {{ range $index, $page := where $paginator.Pages "Type" "!=" "pages" }}
    {{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}
      {{ partial "hero.html" . }}
      {{ .Scratch.Set "postClass" "first-entry" }}
      {{ .Scratch.Set "firstEntryHeader" "Just Landed 🚀" }}
      {{ .Scratch.Set "firstEntrySeparator" "<div class=\"first-entry-separator\"><div class=\"first-entry-separator-content\"></div></div>" }}
    {{ else }}
      {{ .Scratch.Set "postClass" "post-entry" }}
    {{ end }}

    {{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 2) }}
      {{ partial "newsletter.html" . }}
    {{ end }}

    <article class="post {{ .Scratch.Get `postClass` }}">
      <h2 class="first-entry-header">{{ safeHTML (.Scratch.Get `firstEntryHeader`) }}</h2>
      {{ range .Params.images }}
        <img loading="lazy" class="post-main-img" src="{{$.Site.BaseURL}}{{ . }}" alt="Ilustracja posta" />
      {{ end }}
      <div class="post-body">
        <header class="post-header">
          <h2 class="post-title">{{ .Title }}</h2>
        </header>
        {{ safeHTML (.Scratch.Get `firstEntrySeparator`) }}
        <p class="post-summary">{{ .Description }}</p>
        <footer class="post-footer">
          <p class="post-meta">{{ .Date.Format "02.01.2006" }}</p>
        </footer>
        <a class="post-link" href="{{ .Permalink }}"></a>
      </div>
    </article>

  {{ end }}
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
<footer class="list-footer">
  <nav class="pagination">
    {{ if $paginator.HasPrev }}
    <a class="pagination-prev" href="{{ $paginator.Prev.URL }}">← Back</a>
    {{ end }}
    {{ if $paginator.HasNext }}
    <a class="pagination-next" href="{{ $paginator.Next.URL }}">Next →</a>
    {{ end }}
  </nav>
</footer>
{{ end }}
{{ partial "footer.html" . }}