<div class="hero">
    <div class="hero-wrapper">
        <img class="hero-img" src="/images/branding/profile.jpg" alt="Profile Image">
        <div class="hero-content">
            <h2 class="hero-text">Hello there!</h2>
            <p class="hero-text">Welcome to <strong><span class="hero-color">develop &lt;</span>YOURSELF<span class="hero-color">/&gt;</span></strong>, a place for ambitious software
                developers.</p>
            <p class="hero-text hero-text--secondary">My name is <strong>Przemek Smyrdek</strong>, I'm a software engineer and knowledge sharing advocate. I want to help you grow and work better by sharing everything I learned during my programming journey. Enjoy!</p>
            <ul class="hero-social-links">
                <li><a href="https://github.com/psmyrdek/"><img src="/images/shared/social/github-64.png" alt="GitHub logo" /></a></li>
                <li><a href="https://www.linkedin.com/in/psmyrdek/"><img src="/images/shared/social/linkedin-64.png" alt="LinkedIn logo" /></a></li>
                <li><a href="https://twitter.com/psmyrdek"><img src="/images/shared/social/twitter-64.png" alt="Twitter logo" /></a></li>
            </ul>
        </div>
    </div>
</div>