<div class="hero">
    <div class="hero-wrapper">
        <img class="hero-img" src="/images/branding/profile.jpg" alt="Profile Image">
        <div class="hero-content">
            <h2 class="hero-text">Cześć!</h2>
            <p class="hero-text">Witaj na <strong><span class="hero-color">develop &lt;</span>YOURSELF<span class="hero-color">/&gt;</span></strong>, czyli miejscu dla ambitnych programistów.</p>
            <p class="hero-text hero-text--secondary">Nazywam się <strong>Przemek Smyrdek</strong>. Jestem pasjonatem dzielenia się wiedzą oraz rozwoju w programowaniu i nie tylko. Treści które tworzę pomogą ci zostać bardziej świadomym programistą, który pracuje efektywniej, komunikuje się lepiej i patrzy na świat szerzej.</p>
            <ul class="hero-social-links">
                <li><a href="https://github.com/psmyrdek/"><img src="/images/shared/social/github-64.png" alt="GitHub logo" /></a></li>
                <li><a href="https://www.linkedin.com/in/psmyrdek/"><img src="/images/shared/social/linkedin-64.png" alt="LinkedIn logo" /></a></li>
                <li><a href="https://twitter.com/psmyrdek"><img src="/images/shared/social/twitter-64.png" alt="Twitter logo" /></a></li>
            </ul>
        </div>
    </div>
</div>