<article class="post post-entry post-entry--reverse">
    <form class="newsletter-form" action="https://tinyletter.com/przemeksmyrdek" method="post" target="popupwindow"
        onsubmit="window.open('https://tinyletter.com/przemeksmyrdek', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <h3>Sign up for my newsletter</h3>
        <p class="newsletter-header">Learn and grow by getting access to premium content</p>
        <p>
            <input class="newsletter-input" placeholder="Your email here" type="text" name="email" id="tlemail" />
        </p>
        <input type="hidden" value="1" name="embed" />
        <input class="newsletter-button" type="submit" value="Subscribe" />
    </form>
</article>